.tile-sm
{
    width : 100px;
    height: 100px;
    display : inline-block;
    margin : 15px;
}

.tags 
{
  padding: 0;
  list-style-type: none;      
}

.tag
{
    display: inline-block;
    font-size: 0.75rem;
    font-weight: bold;
    background: #FFCE4C;    
    padding: 2px 5px 2px 5px;
}
