--- layout: default ---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  <ul class="tags">
    
    {% for tag in post.tags %}
    <li class="tag" style="display: inline-block">
      <a href="/tags#{{ tag }}">{{ tag }}</a>
    </li>

    {% endfor %}
  </ul>
  {{ content }}
</div>
<!--
 <ul class="share-buttons">
    <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ site.baseurl }}{{ page.url }}&t={{ page.title }}" title="Share on Facebook" target="_blank"><img alt="Share on Facebook" src="/public/image/social/Facebook.png"></a></li>
    <li><a href="https://twitter.com/intent/tweet?source={{ site.baseurl }}{{ page.url }}&text={{ page.title }}:%20https%3A%2F%2Frabibiswal.github.io" target="_blank" title="Tweet"><img alt="Tweet" src="/public/image/social/Twitter.png"></a></li>
    <li><a href="https://plus.google.com/share?url={{ site.baseurl }}{{ page.url }}" target="_blank" title="Share on Google+"><img alt="Share on Google+" src="/public/image/social/Google+.png"></a></li>
    <li><a href="http://www.linkedin.com/shareArticle?mini=true&url={{ site.baseurl }}{{ page.url }}&title={{ page.title }}&summary=&source=https%3A%2F%2Frabibiswal.github.io" target="_blank" title="Share on LinkedIn"><img alt="Share on LinkedIn" src="/public/image/social/LinkedIn.png"></a></li>
</ul>-->

<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
    <li>
      <h3>
        <a href="{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
      </h3>
    </li>
    {% endfor %}
  </ul>
</div>
